﻿<div ng-repeat="item in ListCompetency" class="card m-1 p-1 bg-light">
    <h4>
        {{item.competency}}
        <span class="float-right badge badge-pill badge-primary">Uji Soal</span>
    </h4>    
    <div class="card-text">
        <span class="float-left badge badge-pill badge-primary">{{item.enrollmenT_KEY}}</span>
        &nbsp;&nbsp;
        From {{item.valiD_FROM}} To {{item.valiD_FROM}}
        <a class="float-right btn btn-sm btn-warning">Take Test</a>
    </div>
</div>